<div class="bg-$cyan-100">
  <h1 class="Sessão">Lustres e lâmpadas</h1>

  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lustre Moderno Sputnik Escovado</h5>
            <img class="sputnik" src="assets/images/xbox.png">
            <p class="card-text">R$ <b>649,90</b> à vista no cartão ou PIX</p>
            <a [routerLink]="['/produto','2']" class="btn btn-primary">Comprar</a>
          </div>
        </div>
        <router-outlet></router-outlet>